<header>
    <div>
        <nav class="navbar">
            <a class="navbar-brand text-secondary" href="/stocks/index"><i class="fa fa-line-chart"></i>/Stocks/Index</a>
        </nav>
    </div>
</header>
